[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/sdk"]
	path = libs/sdk
	url = https://github.com/AmyrAhmady/samp-plugin-sdk
[submodule "libs/cmake"]
	path = libs/cmake
	url = https://github.com/AmyrAhmady/samp-cmake-modules
